<div class="event-table-container mat-elevation-z8">
  <mat-tab-group>
    <mat-tab label="Basic Search">
      <div class="filter-container">
        <mat-radio-group name="filterSet">
          <mat-radio-button name="filterSet" value="userId" (change)="onChange($event)" checked>User Id</mat-radio-button>
          <mat-radio-button name="filterSet" value="event" (change)="onChange($event)">Event</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value, 'textFilter')" placeholder="Filter">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="startPicker" placeholder="Start Date" (dateChange)="startDateChanged($event)" [value]="initialDate.value">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <input id="startTime" class="time-picker" type="time" (input)="startTimeChange($event.target.value)">
        <mat-form-field>
          <input matInput [matDatepicker]="endPicker" placeholder="End Date" (dateChange)="endDateChanged($event)" [value]="initialDate.value">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <input id="endTime" class="time-picker" type="time" (input)="endTimeChange($event.target.value)">
      </div>
      <mat-table #table [dataSource]="eventDataSource" matSort>

        <!-- userId Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.user_id}} </mat-cell>
        </ng-container>

        <!-- event Column -->
        <ng-container matColumnDef="event">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.event}} </mat-cell>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.created_at}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Sequence Search">
      <form (ngSubmit)="applySequenceFilter()">
        <h3>First Event:</h3>
        <mat-radio-group name="firstSelectionSet">
          <mat-radio-button name="firstSelectionSet" value="REGISTER" (change)="firstSelectionChange($event)" checked>Register</mat-radio-button>
          <mat-radio-button name="firstSelectionSet" value="ARRIVE" (change)="firstSelectionChange($event)">Arrive</mat-radio-button>
          <mat-radio-button name="firstSelectionSet" value="SUBMIT_FORM" (change)="firstSelectionChange($event)">SubmitForm</mat-radio-button>
          <mat-radio-button name="firstSelectionSet" value="CLICK_LINK" (change)="firstSelectionChange($event)">ClickLink</mat-radio-button>
          <mat-radio-button name="firstSelectionSet" value="GO_BACK" (change)="firstSelectionChange($event)">GoBack</mat-radio-button>
        </mat-radio-group>
        <h3>Second Event:</h3>
        <mat-radio-group name="secondSelectionSet">
          <mat-radio-button name="secondSelectionSet" value="REGISTER" (change)="secondSelectionChange($event)" checked>Register</mat-radio-button>
          <mat-radio-button name="secondSelectionSet" value="ARRIVE" (change)="secondSelectionChange($event)">Arrive</mat-radio-button>
          <mat-radio-button name="secondSelectionSet" value="SUBMIT_FORM" (change)="secondSelectionChange($event)">SubmitForm</mat-radio-button>
          <mat-radio-button name="secondSelectionSet" value="CLICK_LINK" (change)="secondSelectionChange($event)">ClickLink</mat-radio-button>
          <mat-radio-button name="secondSelectionSet" value="GO_BACK" (change)="secondSelectionChange($event)">GoBack</mat-radio-button>
        </mat-radio-group>
        <h3>Third Event:</h3>
        <mat-radio-group name="thirdSelectionSet">
          <mat-radio-button name="thirdSelectionSet" value="REGISTER" (change)="thirdSelectionChange($event)" checked>Register</mat-radio-button>
          <mat-radio-button name="thirdSelectionSet" value="ARRIVE" (change)="thirdSelectionChange($event)">Arrive</mat-radio-button>
          <mat-radio-button name="thirdSelectionSet" value="SUBMIT_FORM" (change)="thirdSelectionChange($event)">SubmitForm</mat-radio-button>
          <mat-radio-button name="thirdSelectionSet" value="CLICK_LINK" (change)="thirdSelectionChange($event)">ClickLink</mat-radio-button>
          <mat-radio-button name="thirdSelectionSet" value="GO_BACK" (change)="thirdSelectionChange($event)">GoBack</mat-radio-button>
        </mat-radio-group>
        <button type="submit" mat-button>Find Sequence</button>
      </form>
      <mat-table #table [dataSource]="sequenceEventDataSource" matSort>

        <!-- userId Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.user_id}} </mat-cell>
        </ng-container>

        <!-- event Column -->
        <ng-container matColumnDef="event">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.event}} </mat-cell>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.created_at}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
</div>
